.error404 {
	color: #fff;
}

.error404 #hero {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	color: #fff;

	background-position: top 60px center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.error404 #hero h1 {
	color: #F3FF00;
	font-size: 64px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.error404 #hero a.read-more {
	margin: 60px auto 0 auto;
}

@media screen and (max-width: 600px) {
	.error404 #hero h1 {
		font-size: 3em;
	}
}
