.page-template-awards-overview {
	color: #fff;
}

.page-template-awards-overview #hero {
	padding: 0;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 550px;
	color: #fff;
	
	background-position: top 60px center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.page-template-awards-overview #hero h1 {
	color: #F3FF00;
}

.page-template-awards-overview #hero .intro {
	max-width: 500px;
}


.page-template-awards-overview section {
	padding-top: 60px;
	padding-bottom: 0;
}




/* filter buttons */

.page-template-awards-overview .filter-buttons {
	margin-bottom: 30px;
}

.page-template-awards-overview .filter-buttons a {
	display: inline-block;
	text-align: center;
	font-family: 'LitSans';
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}

.page-template-awards-overview .filter-buttons a:not(:last-child) {
	margin-right: 30px;
}

.page-template-awards-overview .filter-buttons a.active, 
.page-template-awards-overview .filter-buttons a:hover {
	color: #F3FF00;
}

/*******/






.page-template-awards-overview .awards-list {
	flex-direction: column;
	margin-bottom: 50px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
}


.page-template-awards-overview .awards-list .single-award {
	display: flex;
	float: none;
	clear: both;
	padding: 0;
	margin-bottom: 60px;
	overflow: hidden;
	animation: move-bottom-to-top 1s;
}

.page-template-awards-overview .awards-list.opacity {
	animation: opacity 1s;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.page-template-awards-overview .awards-list .single-award .content {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - 120px);
}

.page-template-awards-overview .awards-list .single-award .title {
	font-family: 'LitSans';
	margin-bottom: 20px;
}

.page-template-awards-overview .awards-list .single-award .title span {
	display: inline;
	padding-bottom: 2px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.page-template-awards-overview .awards-list .single-award .text {
	flex-grow: 1;
}

.page-template-awards-overview .awards-list .single-award a.link {
	margin-top: 10px;
	color: #fff;
}

.page-template-awards-overview .awards-list .single-award a.link img {
	margin-left: 10px;
	transition: all 0.3s;
}

.page-template-awards-overview .awards-list .single-award a.link:hover img {
	margin-left: 20px;
}


.page-template-awards-overview .awards-list .single-award:hover .title span {
	box-shadow: inset 0 -1px 0 0 #1C2157;
}

.page-template-awards-overview .awards-list .single-award .thumbnail {
	flex-shrink: 0;
	flex-grow: 0;
	width: 120px;
	height: 120px;
	margin-right: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}

.page-template-awards-overview .awards-list .single-award .thumbnail img {
	object-fit: cover;
	width: 120px;
	height: 120px;
}

.page-template-awards-overview .awards-list .single-award .thumbnail.default {
	background: #fff;
}



/* bottom-bar */

.page-template-awards-overview .bottom-bar {
	background: #C6D8F1;
	text-align: center;
	font-family: 'LitSans';
	font-size: 26px;
	padding-top: 100px;
	padding-bottom: 95px; /* a padding 5px */
}

.page-template-awards-overview .bottom-bar a {
	display: block;
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 5px;
}

.page-template-awards-overview .bottom-bar a:hover {
	box-shadow: inset 0 -2px 0 0 #1C2157;
}

.page-template-awards-overview .bottom-bar img {
	display: block;
	height: 100px;
	width: auto;
	margin: 0 auto 40px auto;
}




/* media queries */

@media all and (max-height:1000px) {
	.page-template-awards-overview #hero {
		height: 55vh;
		min-height: 300px;
	}
}

@media all and (max-width:840px) {
	.page-template-awards-overview #hero {
		height: auto;
		min-height: 360px;
	}
}

@media all and (max-width:600px) {
	.page-template-awards-overview .filter-buttons {
		margin-bottom: 15px;
	}
	
	.page-template-awards-overview .filter-buttons a {
		margin-bottom: 15px;
	}
	
	.page-template-awards-overview .awards-list .single-award {
		flex-direction: column;
	}
	
	.page-template-awards-overview .awards-list .single-award .thumbnail {
		margin: 0 auto 20px auto;
		justify-content: center;
	}
}

