.carousel-slider {
		overflow: hidden;
		width: calc(100% + 20px);
    	margin-left: -10px;
		opacity: 0;
		transition: opacity 0.5s;
		position: relative;
}

.carousel-slider#carousel-slider_ltr {
	margin-bottom: 32px;
}

.carousel-slider.slick-initialized {
		opacity: 1;
}

.carousel-slider .slick-track {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.carousel-slider .single-img {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
	justify-content: center;
	align-items: center;
    height: 72px;
    padding: 0;
    margin: 0 10px;
    outline: none!important;
}

.carousel-slider .single-img > img {
	max-height: 72px;
	max-width: 160px;
	object-fit: contain;
}