.page-template-impact-stories-overview {
	background: #BEC8C8;
}

.page-template-impact-stories-overview #hero {
	padding: 80px 0 20px 0; /* header 60px + 20px; bottom 20px */
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 360px;
	background: #000014;
	background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
	background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
	background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
	color: #fff;
}

.page-template-impact-stories-overview #hero img {
	width: 100%;
	height: auto;
}

.page-template-impact-stories-overview #hero h1 {
	color: #fff;
}

.page-template-impact-stories-overview #hero .animation {
	height: 100%;
	width: 100%;
}

.page-template-impact-stories-overview #hero .wrapper .column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.page-template-impact-stories-overview .wrapper {
	justify-content: space-between!important;
}




/* storeis overview */

.wrapper.impact_stories {
	justify-content: space-between!important;
}


@media all and (max-width:900px) {
	.wrapper.impact_stories .col {
		flex-basis: calc(50% - 60px)!important;
		margin-left: 30px!important;
		margin-right: 30px!important;
		min-width: auto!important;
	}
}

@media all and (max-width:600px) {
	.wrapper.impact_stories .col {
		flex-basis: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;
	}
	
	.wrapper.impact_stories::after {
	
	}
}

.wrapper.impact_stories::after {
  content: ""; /* autofill space in the last row */
  flex-basis: 23%;
  min-width: 260px;
}

.wrapper.impact_stories .single-story {
	flex-basis: 23%;
    flex-shrink: 0;
	flex-grow: 0;
	min-width: 260px;
	margin: 0 0 50px 0;
	animation: move-bottom-to-top 0.8s;
}

@keyframes move-bottom-to-top {
	0% {
		transform: translateY(20px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.wrapper.impact_stories .single-story .thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 180px;
	height: 180px;*/
	margin: 0 auto;
	/*background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;*/
}

.wrapper.impact_stories .single-story .thumbnail img {
	object-fit: cover;
	max-width: 100%;
	max-height: 250px;
	width: auto;
	height: auto;
	border-radius: 12px;
}

.wrapper.impact_stories .single-story .title {
	font-family: 'MontBold';
	margin: 20px 0 8px 0;
}

.wrapper.impact_stories .single-story .title span {
	display: inline;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.wrapper.impact_stories .single-story:hover .title span {
	box-shadow: inset 0 -1px 0 0 #1C2157;
}

.wrapper.impact_stories .single-story .intro {
	font-size: 0.9em;
}


