/* Top navigation - scroll links */

header .top_nav {
	display: flex;
	height: 100%;
  	justify-content: flex-end;
  	align-items: center;
}

header .top_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header .top_nav ul li {
	display: inline-block;
	margin: 0 1.2vw;
}

header .top_nav ul li a {
	color: #C6D8F1;
}

header .top_nav ul li a:hover {
	color: #fff;
}

header .top_nav ul li.contact a {
	padding: 7px 20px;
	border: 1px solid #C6D8F1;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

header .top_nav ul li.contact a:hover {
	background: #EEFF00;
	color: #1c2157;
	border: 1px solid #EEFF00;
}




/* header shrink or not home navigation colors */

header.header-shrink .top_nav ul li a,
body:not(.home) header .top_nav ul li a {
	color: #1c2157;
}

header.header-shrink .top_nav ul li a:hover, 
body:not(.home) header .top_nav ul li a:hover {
	color: #C6D8F1;
}

header.header-shrink .top_nav ul li.contact a, 
body:not(.home) header .top_nav ul li.contact a{
	border: 1px solid #1c2157;
}

header.header-shrink .top_nav ul li.contact a:hover, 
body:not(.home) header .top_nav ul li.contact a:hover {
	color: #1c2157;
	border: 1px solid #EEFF00;
}










/***** Burger navigation *******/


html.overflow, 
body.overflow {
    overflow: hidden;
}

header#_nav_header.open .logo.desktop,
header#_nav_header.open .top_nav {
	z-index: -2;
}

header .burger {
  cursor: pointer;
  height: 20px;
  width: 24px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

header .burger div {
  transform-origin: left;
  margin-left: auto;
  width: 97%;
  transition: transform 0.4s;
  height: 2px;
  display: block;
  background-color: #fff;
  transition: all 0.4s;
}

header .burger:hover div {
  background-color: #f3ff00;
}

header.header-shrink .burger div, 
body:not(.home) header .burger div {
  background-color: #1c2157!important;
}


header.header-shrink .burger:hover div, 
body:not(.home) header .burger:hover div {
  background-color: #C6D8F1!important;
}

header .nav_bar {
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-items: right;
  padding: 20px 0;
  transition: background-color 0.4s, border-color 0.4s;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: none;
  z-index: -1;
}

header nav ul li::before {
	display:none!important;
}

header nav .main_nav {
  width: 67%;
  height: 100vh;
  background: #000014;
  background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
  background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
  background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
  position: absolute;
  left: 0;
  padding-left: 120px;
  padding-right: 70px;
  top: 0;
  bottom: 0;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
}

header nav .main_nav .top {
  position: absolute;
  top: 30px;
  left: 120px;
  font-family: 'LitSans';
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
}

header nav .main_nav .top .nav-logo {
	height: 70px;
}

header nav .main_nav .top .nav-logo a {
	display: block;
	line-height: 0;
}

header nav .main_nav .top .nav-logo img {
	width: 150px;
	height: auto;
}

header nav .main_nav .top .nav-title {
	margin-top: 4vh;
	font-size: 2.5em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px #F3FF00;
	-moz-text-stroke: 1px #F3FF00;
	text-stroke: 1px #F3FF00;
}

header nav .main_nav a {
  line-height: 1.2em;
}

header nav .main_nav .menu-primary-navigation-container,
header nav .main_nav .menu-primary-navigation-german-container {
	pointer-events: none;
}

header nav .main_nav .menu-primary-navigation-container ul li,
header nav .main_nav .menu-primary-navigation-german-container ul li {
	pointer-events: all;
}

header nav .main_nav .current-menu-item a {
  color: #fff;
}

header nav .main_nav ul {
  list-style: none!important;
  max-width: 17vw;
  margin: 0;
  padding-top: calc(150px + 8vh);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
}

header nav .main_nav ul > li {
	padding-top: 0;
	padding-bottom: 3vh;
	margin: 0;
	font-family: 'LitSans';
}

header nav .main_nav ul > li a {
	font-size: 26px;
	color: #fff;
}

header nav .main_nav ul > li.active > a {
	color: #EEFF00;
}

header nav .main_nav ul > li > ul {
	position: absolute;
	width: max-content;
	max-width: 22vw;
	top: 0;
	left: 19vw;
	margin: 0;
  	padding: 0;
	padding-top: calc(150px + 8vh);
}

@keyframes move-x {
		0% {
			transform: translateX(20px);
			opacity: 0;
		}
		
		100% {
			transform: translateX(0px);
			opacity: 1;
		}	
}

header nav .main_nav ul > li.active:first-child > ul {
	display: block!important; /* first navigation point always open */
}


header nav .main_nav ul > li > ul > li {
	/* flex-basis: 100%;*/
	font-family: 'MontRegular';
	padding-bottom: 2vh;
}


header nav .main_nav ul > li > ul > li a {
	font-size: 1em;
	color: #C6D8F1;
}

header nav .main_nav ul > li > ul > li a:hover {
	color: #fff;
}



/********* topics *******/

header nav .main_nav ul > li.topics > ul {
	counter-reset: topics 0;
	margin-left: 50px; /* becuase of the counter */
}

header nav .main_nav ul > li.topics > ul > li > a {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #fff;
	/* border-bottom: 1px solid #C6D8F1; */
}

header nav .main_nav ul > li.topics > ul > li > a::before {
	counter-increment: topics 1;
	content: counter(topics);
	position: absolute;
	left: -50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background: #fff;
	color: #1c2157;
	font-family: 'LitSans';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

header nav .main_nav ul > li.topics > ul > li > ul {
	position: relative;
	top: 0;
    left: 0;
    padding: 0;
}

header nav .main_nav ul > li.topics > ul > li > ul > li {
	display: inline-block;
}

header nav .main_nav ul > li.topics > ul > li > ul > li:not(:last-child) {
	margin-right: 15px;
}


/************************/





header nav .sec_nav {
  width: 33%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

header nav .sec_nav .nav-container {
	display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 5vh;
}

header nav .sec_nav .nav-container .menu-secondary-navigation-container {
		flex-grow: 1; /* push contact data to bottom */
}

header nav .sec_nav .top {
  position: absolute;
  top: 30px;
  right: 120px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #1c2157;
  font-family: 'LitSans';
  /* transform: translateX(-80%);*/
}

header nav .sec_nav .top .nav-title {
	margin-top: calc(70px + 4vh); /* logo-height:70px + margin: 5vh*/
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: right;
	color: transparent;
	-webkit-text-stroke: 1px #1c2157;
	-moz-text-stroke: 1px #1c2157;
	text-stroke: 1px #1c2157;
}

header nav .sec_nav ul {
	list-style: none!important;
	padding-top: calc(150px + 8vh);
	padding-left: 0;
  	padding-right: 0;
  	padding-bottom: 0;
	margin: 0;
	font-family: 'MontRegular';
	text-align: right;
}

header nav .sec_nav ul li {
	padding-bottom: 2vh;
}

header nav .sec_nav ul li.top-space {
	margin-top: 3vh;
}

header nav .sec_nav ul li a {
  font-size: 1em;
  line-height: 1.2em;
  color: #1c2157;
  text-decoration: none;
}

header nav .sec_nav ul li a:hover {
	color: #C6D8F1;
}

header nav .sec_nav ul li.contact a {
	display: block;
	width: fit-content;
	float: right;
	background: #1c2157;
	color: #fff;
	padding: 12px 22px;
	margin-top: 5vh;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	justify-content: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

header nav .sec_nav ul li.contact a:hover {
  background: none;
  color: #1c2157;
  -webkit-box-shadow: inset 0 0 0 1px #1c2157;
  -moz-box-shadow: inset 0 0 0 1px #1c2157;
  box-shadow: inset 0 0 0 1px #1c2157;
}

header nav .sec_nav .nav-contact {
	color: #1c2157;
	text-align: right;
	font-family: 'MontRegular';
	margin-bottom: 0;
	margin-top: 20px;
}

header nav .sec_nav .nav-contact a {
	color: #1c2157;
}

header nav .sec_nav .nav-contact a:hover {
	color: #C6D8F1;
	/* box-shadow: inset 0 -1px 0 0 #1C2157; */
}







header nav .main_nav .d,
header nav .sec_nav .c {
	position: absolute;
	bottom: 5vh;
}

header nav .main_nav .d {
	right: 0;
}

header nav .sec_nav .c {
	left: 0;
}

header nav .main_nav .d img, 
header nav .sec_nav .c img {
	width: 7vw;
	max-width: 100%;
	height: auto;
}

@media all and (max-height:700px), (max-width: 1460px) {
	header nav .main_nav .d img,
	header nav .sec_nav .c img {
		width: 6vw;
		max-width: 100%;
		height: auto;
	}
}



@media all and (max-height: 700px) {
	header nav {
		font-size: 90%;
	}
	
	header nav .main_nav .top .nav-title,
	header nav .sec_nav .top .nav-title {
		font-size: 2.5em;
	}
	
	header nav .main_nav .top .nav-title {
		margin-top: 2vh;
	}
	
	header nav .sec_nav .top .nav-title {
		margin-top: calc(70px + 2vh);
	}
	
	header nav .main_nav ul, 
	header nav .sec_nav ul, 
	header nav .main_nav ul > li > ul {
		padding-top: calc(150px + 5vh);
	}
}


@media screen and (max-width: 1200px) {
	header nav .main_nav {
    	padding-left: 60px;
	}
	
	header nav .sec_nav {
	    padding-right: 60px;
	}
	
	header nav .main_nav .top {
		left: 60px;
	}
	
	header nav .sec_nav .top {
		right: 60px;
	}

}

nav li.external-link a::after {
	font-family: 'Font Awesome 5 Free';
	content: '\f35d';
	font-size: 9px;
	font-weight: 900;
	display: inline-block;
    margin-left: 5px;
    transform: translateY(-5px);
}






/***** mobile *******/

header nav .top_mobile {
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10% 50px 10%;
  position: relative;
  z-index: 99;
}
header nav .top_mobile > div {
  font-size: 16px;
  line-height: 1.2em;
  position: relative;
  color: #fff;
  opacity: 0.5;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
header nav .top_mobile > div:after {
  content: " ";
  background-color: #EEFF00;
  height: 2px;
  width: 0%;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

header nav .top_mobile .main_nav_btn:not(.active) {
	-webkit-text-stroke: 1px #1c2157;
 	-moz-text-stroke: 1px #1c2157;
 	text-stroke: 1px #1c2157;
	color: transparent;
}

header nav .top_mobile .sec_nav_btn:not(.active) {
	-webkit-text-stroke: 1px #fff;
 	-moz-text-stroke: 1px #fff;
 	text-stroke: 1px #fff;
	color: transparent;
}

header nav .top_mobile .active {
  opacity: 1;
}
header nav .top_mobile .active:after {
  width: 100%;
  opacity: 0.5;
}
header nav .top_mobile.sec > div {
  color: #000;
}
header nav .top_mobile.sec > div:after {
  background-color: #000;
}
header .nav_bar_mobile {
  display: none;
  width: 100vw;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 20px 30px;
  transition: background-color 0.4s, border-color 0.4s;
}

header.open .nav_bar_mobile {
	background: #000014;
	background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
	background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
	background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
} 

header .nav_bar_mobile .burger div {
  background-color: #fff;
}
header.dark .nav_bar, header.open .nav_bar {
  background-color: transparent;
}
header.dark .nav_bar .burger div, header.open .nav_bar .burger div {
  background-color: #1c2157;
}
header.dark .nav_bar .burger:hover div, header.open .nav_bar .burger:hover div {
  background-color: #1c2157;
}
header.dark .nav_bar .tagline, header.open .nav_bar .tagline {
  color: #fff;
}
header.dark .nav_bar_mobile, header.open .nav_bar_mobile {
  
}
header.dark .nav_bar_mobile .burger div, header.open .nav_bar_mobile .burger div {
  background-color: #fff;
}
header.dark .nav_bar_mobile .burger div:nth-of-type(1), header.open .nav_bar_mobile .burger div:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, -4px);
}
header.open .burger div:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, -4px);
}
header.open .burger div:nth-of-type(2) {
  transform: translateX(-110%);
}
header.open .burger div:nth-of-type(3) {
  transform: rotate(-45deg) translate(2px, 4px);
}

/***** mobile end *******/





@media all and (max-width:991px), (max-height:600px) {
	body:not(.home) header.open .burger div {
	  background-color: #fff!important;
	}

	 header {
	 }
	 
	 header .top_nav {
		display: none;
	}
	 
	 header .logo.desktop {
		display: none;
	}

	 header .nav_bar {
		display: none;
	 }
	 
	 header nav {
	 	background: #000014;
		background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
		background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
		background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
		min-height: 100vh;
		height: auto;
		padding-top: 60px;
		overflow-x: hidden;
		overflow-y: scroll;
	 }
	 
	 header nav .top {
	 	display: none!important;
	 }
	 
	 header nav .top_mobile {
	 	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
	 }
	 
	 header nav .main_nav_btn,
	 header nav .sec_nav_btn {
	 	font-family: 'LitSans';
		text-transform: uppercase;
	 }
	
	 
	 header nav .main_nav_btn.active,
	 header nav .sec_nav_btn.active {
	 	color: #EEFF00;
	 }
	 
	 header nav .main_nav {
	 	padding-left: 10%;
    	padding-right: 10%;
    	width: 100%;
		height: auto;
    	left: auto;
    	position: relative;
	 }
	 
	 
	 header nav .main_nav ul {
	 	padding-top: 0;
		max-width: calc(100vw - 60px);
	 }
	 
	 
	 header nav .main_nav ul > li.animation-navi {
	 	animation: move-y 1s;
	 }
	 
	 @keyframes move-y {
		0% {
			transform: translateY(20px);
			opacity: 0;
		}
		
		100% {
			transform: translateY(0px);
			opacity: 1;
		}	
		}
	 
	 
	  header nav .main_nav ul > li {
	  }
	 
	 header nav .main_nav ul > li > ul {
	 	max-width: calc(100vw - 60px);
		position: relative;
		padding-top: 30px;
		left: 0;
	 }
	 
	 header nav .main_nav ul > li.topics ul {
	 	max-width: calc(100vw - 110px);
	 }
	 
	 header nav .sec_nav {
	 	display: none;
		padding-left: 10%;
		padding-right: 10%;
		width: 100%;
		height: auto;
		min-height: 120vh;
		left: 0;
		top: 60px;
		padding-top: 120px;
		right: auto;
	 }
	 
	 header nav .sec_nav .nav-container .menu-secondary-navigation-container {
	 	flex-grow: 0;
	 }
	 
	  header nav .sec_nav ul {
	 	padding-top: 0;
	 }
	 
	 header nav .sec_nav ul li.contact {
	 	display: none;
	 }
	 
	 header .nav_bar_mobile {
	 	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
	 }
	 
	 header nav .main_nav ul > li.contact.mobile a {
		display: block;
		width: fit-content;
		background: none;
		color: #fff;
		padding: 12px 22px;
		margin-top: 5vh;
		margin-bottom: 35px;
		
		font-family: 'MontRegular';
		font-size: 1em;
    	line-height: 1.2em;
		
		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		
		justify-content: center;
		
		-webkit-box-shadow: inset 0 0 0 1px #fff;
	  	-moz-box-shadow: inset 0 0 0 1px #fff;
	  	box-shadow: inset 0 0 0 1px #fff;
	  
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	header nav .main_nav ul > li.contact.mobile a:hover {
	  	background: #fff;
	  	color: #1C2157;
	}
	
	header nav .main_nav .d, 
	header nav .sec_nav .c {
		display: none;
	}
	
	header nav .sec_nav .nav-contact {
		margin-top: 40px;
	} 
	
	header nav .sec_nav .dc {
		display: block;
		margin-bottom: 20px;
	}
	
	header nav .sec_nav .dc img {
		width: 100px;
	}

}

@media all and (min-width: 992px) {
	header .logo.mobile {
		display: none;
	}
	
	header nav .main_nav ul > li.contact.mobile {
		display: none;
	}
	
	header nav .main_nav ul > li > ul {
		animation: move-x 1s;
	}
	
	header nav .sec_nav .dc {
		display: none;
	}
}


/* WMPL language switcher */
li.wpml-ls-item {
	margin-right: 3px!important;
	line-height: 1.2em;
}

li.wpml-ls-item:last-child {
	margin-left: 4px;
	padding-left: 9px;
	border-left: 1px solid #1c2157;
}

li.wpml-ls-current-language {
	font-family: 'MontBold';
	font-weight: 700;
}