.single-members {
	background: #fff;
}


.single-members #hero {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 600px;
	padding: 120px 0 60px 0; /* header 60px + 60px; bottom 60px */
	text-align: center;
	background: #000014;
	background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
	background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
	background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
}

.single-members #hero h1 {
	color: #F3FF00;
	margin-top: 30px;
	margin-bottom: 0;
}

.single-members #hero p.position {
	font-family: 'LitSans';
	color: #fff;
}

.single-members #hero .wrapper {
	height: 100%;
}

.single-members #hero .column-60 {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.single-members #hero .column-40 {
	overflow: visible;
	position: relative;
}

.single-members #hero img.logo {
	max-width: 391px;
	height: auto;
}

.single-members #hero .img-person {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	max-height: 710px;
	max-width: 473px;
	line-height: 0;
}

.single-members #hero .img-person img {
	line-height: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}



.single-members section:first-of-type {
	padding-top: 50px;
	padding-bottom: 80px;
}


/* quote */


.single-members .quote .text {
	font-family: 'LitSans';
	font-size: 26px;
	line-height: 1.3em;
}

.single-members .quote .author {
	margin-top: 5px;
}




/* contact */

.single-members .contact-data {
	margin: 30px 0 50px 0;
	min-height: 50px;
}

.single-members .contact-data .info {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.single-members .contact-data .info a:hover {
	box-shadow: inset 0 -1px 0 0 #1C2157;
}

.single-members .contact-data .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	color: #fff;
	background: #1C2157;
	font-size: 8px;
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}



/******************************/

.single-members .expertise h3, 
.single-members .ask-about h3 {
	font-family: 'LitSans';
	font-size: 26px;
}

/******************************/




/* expertise */

.single-members .expertise {
	padding-bottom: 50px;
}

.single-members .expertise a {
	display: block;
	width: fit-content;
	color: #1C2157;
    margin: 0 0 12px 0;
    padding: 8px 16px;
	border: 1px solid #1C2157;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	cursor: default;
}

/*.single-members .expertise a:hover {
	background: #1C2157;
	color: #fff;
}*/


/* ask about */

.single-members .ask-about ul {
	margin: 0;
	padding: 0;
}

.single-members .ask-about ul li {
	margin: 0 0 5px 15px;
}

.single-members .ask-about ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '>';
    width: 15px;
    margin-left: -15px;
    display: inline-block;
    font-weight: 400;
	color: #1C2157;
}



/* bottom-bar */

.single-members .bottom-bar {
	background: #C6D8F1;
	text-align: center;
	font-family: 'LitSans';
	font-size: 26px;
	padding-top: 100px;
	padding-bottom: 95px; /* a padding 5px */
}

.single-members .bottom-bar a {
	display: block;
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 5px;
}

.single-members .bottom-bar a:hover {
	box-shadow: inset 0 -2px 0 0 #1C2157;
}

.single-members .bottom-bar img {
	display: block;
	height: 100px;
	width: auto;
	margin: 0 auto 40px auto;
}



/* media queries */

@media all and (max-width:840px) {
	.single-members #hero {
		height: auto;
		min-height: 600px;
		padding-bottom: 0;
	}
	
	.single-members #hero .img-person {
		position: relative;
		margin: 0 auto -60px auto;
	}
	
	.single-members section:first-of-type {
		padding-top: 100px;
	}

	.single-members .expertise a {
		width: 70%;
	}
	
	.single-members .quote .author {
		margin-top: 10px;
	}
	
	.single-members .contact-data {
		margin: 50px 0 40px 0;
	}
}

@media all and (max-width:600px) {
	.single-members .expertise a {
		width: 100%;
	}
}
